* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  border: none;
}
body {
  padding: 0;
  margin: 0;
}
main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
}
#chapter {
  border: none;
  margin: 30px;
  flex: 1;
  position: relative;
  overflow: hidden;
}
#chapter #content {
  visibility: hidden;
  position: absolute;
  height: 100%;
  column-width: calc(100vw - 60px);
  column-gap: 20px;
}
#chapter #content * {
  font-size: 20pt;
  line-height: 1.4;
}
#chapter #content p {
  margin-bottom: 0.3em;
}
#chapter #content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}